:host {
  display: block;
  width: 100%;
}

#media-details {
  display: flex;
  justify-content: center;
}

#title-image-grades{
  display : flex;
  flex-direction : row;
  width: 100%;
  margin-top : 0.8rem;
}

#image-grades{
  display : flex;
  flex-direction : column;
  align-items: center;
  justify-content : center;
}

#grades{
  display : flex;
  flex-direction: column;
  justify-content: center;

}

#description {
  width: 40rem;
}

#commentInput {
  width: 100%;
}
