<div class="container-fluid" id="showlist">
  <h2>Shows</h2>
  <div class="row" *ngFor="let show of shows">
    <a [title]="show.name + ' details'" [routerLink]="['/media', show.type, show.id]">
      <div class="col">
        <img src=".\assets\images\{{show.image}}" alt="image_{{show.name}}" width="200" height="300">
      </div>
      <div class="col">
        <h3>
          {{show.name}}
        </h3>
      </div>
    </a>
    <div class="col">
      <p>description: "{{show.description}}"</p>
    </div>
    <div class="col">
      <p>IMDb: {{show.rating}}</p>
    </div>
  </div>
</div>
