<div id="topbar">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <div class="item">
        <a [routerLink]="['/']" class="gradient-text" routerLinkActive="title" href="#">GradeA</a>
        <div class="navbar-nav">
          <a class="nav-item nav-link-active" [routerLink]="['movie']" id="movie_link_button"
             routerLinkActive="active-link" href="#" >Movie</a>
          <a class="nav-item nav-link-active" [routerLink]="['game']" id="game_link_button"
             routerLinkActive="active-link" href="#" >Game</a>
          <a class="nav-item nav-link-active" [routerLink]="['show']" id="show_link_button"
             routerLinkActive="active-link" href="#" >Show</a>
        </div>
      </div>
      <div class="item" id="search_bar">
        <form class="form-inline">
          <input class="form-control mr-sm-2" id="search_input" name="preview" type="search" placeholder="Search" autocomplete="off" aria-describedby="search-text"
                 [(ngModel)]="searchInput">
          <button class="btn btn-outline-success my-2 my-sm-0" id="search_button" type="submit" (click)="callSearchRequest()" >
            <i class="material-icons" id="search_icon" >search</i></button>
        </form>
        <ul id="search_filter">
          <li *ngFor="let m of media | appFilter: searchInput" id="preview_list" (click)="previewClick(m.name)"  value="{{m.name}}"
              appHighlight [searchedWord]="searchInput" [content]="m.name" [classToApply]="'font-weight-bold'" [setTitle]="true">
            {{m.name}}
          </li>
        </ul>
      </div>
      <div class="item" id="profile_item">
        <a class="button fancy-button" id="profile_button"><i class="material-icons" id="profile_icon">face_6</i></a>
      </div>
    </div>
  </nav>
</div>
